@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<BookStore.Models.DbModels.Book>

<partial name="_InfoMessage" />

<h1>List of books</h1>
<div class="d-flex p-2 justify-content-between">
    <a class="btn btn-info" asp-action="Create"> Add new book</a>
    <form method="get" class="needs-validation" novalidate>
        <div class="d-flex">
            <div class="form-group">
                <input name="search" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
        
    </form>
</div>



<table class="table table-bordered table-striped mt-3" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CoverPicUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Language)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model) {
                <tr>
                    <td style="height:170px;width:200px" class="text-center">
                        <img  src="@book.CoverPicUrl" class="img-fluid" alt="Responsive image">
                    </td>
                    <td>
                        <h5 class="font-italic">@book.Name</h5>
                        
                    </td>
                    <td>
                        @book.Language
                    </td>
                    <td>
                        @book.Author.Name
                        
                    </td>
                    <td>
                        <div class="btn-group w-75" role="group">
                            <a asp-action="Details" asp-route-id="@book.Id" class="btn btn-primary mx-2"><i class="bi bi-pencil-square"></i> Details</a>
                           @* <a asp-action="Edit" asp-route-id="@book.Id" class="btn btn-primary mx-2"><i class="bi bi-pencil-square"></i> Edit</a>
                            <a asp-action="Delete" asp-route-id="@book.Id" class="btn btn-danger mx-2"><i class="bi bi-trash"></i> Delete</a>*@
                           
                        </div>
                        
                    </td>
                </tr>
        }
    </tbody>
</table>



